.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 50px;

}

.navBar a{
    color: white;
    text-decoration: none;
    font-family: Corbel;
}
.navBar a[class='active']{
    color: darkred;

}