.wallpaper{
    display: flex;
    justify-content: space-around;
    padding: 1px;
    margin: 0;

}
.photoWallpaper{
    width: 120px;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;
    background: black;

}
.header a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: Courier New;
    margin-right: 9px;
}

.header a[class='active']{
    color: darkred;
}

.logo{
    width: 25px;
}



