h2{
    margin: 0;
    font-family: "Roboto Light";
}
div{
    width: 600px;
    background: silver;
    margin-bottom: 10px;
    margin-left: 10px;
}
img{
    width: 150px;

}
p{
    width: 100%;
    text-align: start;
    margin: 0;
    font-family: Roboto;

}